body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
    position: relative;
}
button {
    border: none;
    background: none;
    position: absolute;
    bottom: 4vh;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
button:hover {
    color: yellow;
}
button:active {
    outline: none;
}

canvas {
    border: 3px blue solid;
}